version: '3.8'

services:
  db:
    image: postgres:14.5
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    restart: always
    env_file:
      - ./.env
    networks:
      - my_network

  redis:
    image: redis:6.2
    restart: always
    networks:
      - my_network

  backend:
    image: lalexanders/events:latest
    command: >
      bash -c "
      python -m mkdocs build -f mkdocs.yml -d static/docs &&
      gunicorn SGUevents.wsgi:application --bind 0.0.0.0:8887
      "
    restart: always
    volumes:
      - static_value:/code/staticfiles/
      - media_value:/code/media/
    depends_on:
      - db
      - redis
    env_file:
      - ./.env
    ports:
      - "8887:8887"
    networks:
      - my_network

  bot:
    image: lalexanders/events:latest
    command: python /code/bot/main.py
    restart: always
    working_dir: /code/bot
    depends_on:
      - db
      - redis
    env_file:
      - ./.env
    networks:
      - my_network

  celery:
    image: lalexanders/events:latest
    command: bash -c "celery -A SGUevents purge -f && celery -A SGUevents worker --loglevel=info"
    restart: always
    depends_on:
      - db
      - redis
    env_file:
      - ./.env
    networks:
      - my_network

  celery_beat:
    image: lalexanders/events:latest
    command: celery -A SGUevents beat --loglevel=info
    restart: always
    depends_on:
      - db
      - redis
    env_file:
      - ./.env
    networks:
      - my_network

  nginx:
    image: nginx:1.21.6
    ports:
      - "8080:80"
    volumes:
      - static_value:/code/staticfiles/
      - media_value:/code/media/
      - ./nginx.conf/default.conf:/etc/nginx/conf.d/default.conf
    restart: always
    depends_on:
      - backend
      - bot
    networks:
      - my_network

volumes:
  postgres_data:
  static_value:
  media_value:

networks:
  my_network:
    driver: bridge
