{% extends 'events/card.html' %} 
{% load static %} 
{% load events_available_tags %}

{% block heart %}

{% if event.category == "Оффлайн" %}
	{% if event.id in favorites %}
	<a href="#" class="btn remove-from-favorites" data-event-id="{{ favorites|get_item:event.id }}">
		<img class="mx-1 heart-icon" src="{% static 'general/icons/heart_red.png' %}" alt="Catalog Icon" width="32" height="32">
	</a>
	{% else %}
	<a href="#" class="btn add-to-cart" data-event-slug="{{ event.slug }}">
		<img class="mx-1 heart-icon" src="{% static 'general/icons/heart.svg' %}" alt="Catalog Icon" width="32" height="32">
	</a>
	{% endif %}
{% elif event.category == "Онлайн" %}
	{% if event.id in favorites %}
	<a href="#" class="btn remove-from-favorites" data-event-id="{{ favorites|get_item:event.id }}">
		<img class="mx-1 heart-icon" src="{% static 'general/icons/heart_red.png' %}" alt="Catalog Icon" width="32" height="32">
	</a>
	{% else %}
	<a href="#" class="btn add-to-cart" data-event-slug="{{ event.slug }}">
		<img class="mx-1 heart-icon" src="{% static 'general/icons/heart.svg' %}" alt="Catalog Icon" width="32" height="32">
	</a>
	{% endif %}
{% endif %}

{% endblock heart %}


{% block content %}
<div class="row">
<!-- Контент на странице -->
	{% if event.category == "Оффлайн" %}
		{% if event.date >= now %}
			{% if event.id in registered %}
				<a href="#" class="btn btn-light btn-remove_app" data-event-id="{{ registered|get_item:event.id }}">
					Отмена регистрации
				</a>
			{% else %}
				<a href="#" class="btn btn-danger btn-sent_app" data-event-slug="{{ event.slug }}">
					Регистрация
				</a>
			{% endif %}
		{% else %}
			<span class="btn btn-secondary">Регистрация недоступна</span>
		{% endif %}

		<button class="btn btn-primary btn-comment" data-event-id="{{ event.id }}" data-model-type="offline">Оставить отзыв</button>


	{% elif event.category == "Онлайн" %}	
		{% if event.date >= now %}
			<div class="col-lg-6 main-button" style="text-align: center;">
			{% if event.id in registered %}
				{% comment %} <a href="#" class="btn btn-remove_app card-button" data-event-id="{{ registered|get_item:event.id }}"> Отмена регистрации</a>  {% endcomment %}
				<button class="btn btn-remove_app card-button" data-event-id="{{ registered|get_item:event.id }}">Отмена регистрации</button>
			{% else %}
				<button class="btn btn-sent_app card-button" data-event-slug="{{ event.slug }}"> Регистрация	</button>
			{% endif %}
			</div>
		{% else %}
			<span class="btn btn-secondary">Регистрация недоступна</span>
		{% endif %}
			<div class="col-lg-6 main-button" style="text-align: center;">
        <button class="btn btn-comment card-button" data-event-id="{{ event.id }}" data-model-type="online"> Оставить отзыв</button>
      </div>
			
	{% endif %}
	<div class="col-lg-12 admin-connect mt-3" style="text-align: center;"><button
		class="btn btn-secondary"
		style="height: fit-content; padding: 5px; padding-inline: 10px;"><img
				src="static/general/icons/admin2(1).png" alt=""
				style="max-height: 30px; width: auto;">Связь с администратором</button>
	</div>
</div>

{% endblock content %}