{% extends 'events/card.html' %} 
{% load static %} 
{% load events_cultural_tags %}
{% load events_available_tags %}

{% block heart %}
	{% if event.category == "Доступные к посещению" %}
		{% if event.id in favorites %}
			<a href="#" class="remove-from-favorites" data-event-id="{{ favorites|get_item:event.id }}">
				<img class="mx-1 heart-icon" src="{% static 'general/icons/heart_red.png' %}" alt="Catalog Icon" width="32" height="32">
			</a>
		{% else %}
			<a href="#" class="btn add-to-cart" data-event-slug="{{ event.slug }}">
				<img class="mx-1 heart-icon" src="{% static 'general/icons/heart.svg' %}" alt="Catalog Icon" width="32" height="32">
			</a>
		{% endif %}
	{% elif event.category == "Достопримечательности" %}
		{% if event.id in favorites %}
			<a href="#" class="btn remove-from-favorites" data-event-id="{{ favorites|get_item:event.id }}">
				<img class="mx-1 heart-icon" src="{% static 'general/icons/heart_red.png' %}" alt="Catalog Icon" width="32" height="32">
			</a>
		{% else %}
			<a href="#" class="btn add-to-cart" data-event-slug="{{ event.slug }}">
				<img class="mx-1 heart-icon" src="{% static 'general/icons/heart.svg' %}" alt="Catalog Icon" width="32" height="32">
			</a>
		{% endif %}
	{% endif %}
{% endblock heart %}

{% block content %}
	<!-- Контент на странице -->
	<div class="row">
		{% if event.category == "Доступные к посещению" %}
			<div class="col-lg-6 main-button" style="text-align: center;">
				{% if event.date >= now or request.user in event.member.all %}
					{% if event.id in registered %}
						<a href="#" class="btn btn-remove_app card-button" data-event-id="{{ registered|get_item:event.id }}">
							Отмена регистрации
						</a>
					{% else %}
						<a href="#" class="btn btn-sent_app card-button" data-event-slug="{{ event.slug }}">
							Регистрация
						</a>
					{% endif %}
				{% else %}
					<span class="btn btn-secondary card-button">Регистрация закрыта</span>
				{% endif %}
			</div>
			
			<div class="col-lg-6 main-button" style="text-align: center;">
				<button class="btn btn-comment card-button" data-event-id="{{ event.id }}" data-model-type="for_visiting">Оставить отзыв</button>
			</div>

			{% if event.support_chat_id %}
				<div class="col-lg-12 admin-connect mt-3" style="text-align: center;">
					<button class="btn btn-secondary btn-support"
							data-event-id="{{ event.id }}"
							data-model-type="for_visiting"
							style="height: fit-content; padding: 5px; padding-inline: 10px;">
						<img src="{% static "icons/admin.png" %}" alt="" style="max-height: 30px; width: auto;">
						Связь с организатором
					</button>
				</div>
			{% endif %}
			
		{% elif event.category == "Достопримечательности" %}
			<div class="col-lg-12 main-button" style="text-align: center;">
				<button class="btn btn-comment card-button" data-event-id="{{ event.id }}" data-model-type="attractions">Оставить отзыв</button>
			</div>

			{% if event.support_chat_id %}
				<div class="col-lg-12 admin-connect mt-3" style="text-align: center;">
					<button class="btn btn-secondary btn-support"
							data-event-id="{{ event.id }}"
							data-model-type="attractions"
							style="height: fit-content; padding: 5px; padding-inline: 10px;">
						<img src="{% static "icons/admin.png" %}" alt="" style="max-height: 30px; width: auto;">
						Связь с организатором
					</button>
				</div>

			{% endif %}
		{% endif %}

		
	</div>
{% endblock content %}

{% block content_card %} 
	{% if event.category == "Доступные к посещению" %}
		{% comment %} Спикеры {% endcomment %}
		{% if event.speakers.all %}
			<div class="info-block speaker">
				<div class="title">Спикер</div>
				<div class="info-content">
					{% for speaker in event.speakers.all %} {{ speaker.last_name }} {{ speaker.first_name }}{% if not forloop.last %},{% endif %}{% endfor %}
				</div>
			</div>
		{% endif %}
		
		{% comment %} Дата\Время {% endcomment %}
		<div class="info-block date-time">
			<div class="title">Дата и время</div>
			<div class="info-content">
				<label for="date">{% if event.date_end and event.date_end == event.date %} {{ event.formatted_date_2 }} {% else %} {{ event.date }} {% endif %}</label> <br />
				<label for="time">{{ event.time_start }} - {{ event.time_end }}</label>
			</div>
		</div>

		{% comment %} Кол-во мест {% endcomment %}
		{% if event.place_free or event.place_limit %}
			<div class="info-block speaker">
				<div class="title">Свободные места</div>
				<div class="info-content">
					<span id="free-places-{{event.slug}}"> {{event.place_free }} </span> / {{event.place_limit }}
				</div>
			</div>
		{% endif %}
	{% endif %}
	
	{% comment %} Место проведения\расположения {% endcomment %}
	{% if event.town or event.street %}
		<div class="info-block connection">
			<div class="title">
				{% if event.category == "Доступные к посещению" %}
					Место проведения
				{% else %}
					Расположение
				{% endif %}
			</div>
			<div class="info-content">
				<label>{% if event.town %}г.{{ event.town }}{% endif %} {% if event.street %}ул.{{ event.street }}{% endif %} {% if event.house %} д.{{ event.house }}{% endif %}{% if event.cabinet %} кабинет {{ event.cabinet }}{% endif %}</label>
			</div>
		</div>
	{% endif %} 

	{% comment %} Ссыдка\QR {% endcomment %}
	{% if event.link or event.qr %}
		<div class="info-block connection">
			<div class="title">
				Подключение
			</div>
			<div class="info-content">
				{% if event.link %}
					<label><a href="{{event.link}}" class="connection-link" target="_blank">Ссылка для подключения</a></label>
				{% endif %} 
				{% if event.qr %}
					<label><a href="" class="connection-link open-modal" id="openModal">QR-код</a></label>
				{% endif %}
			</div>
		</div>
	{% endif %}
{% endblock content_card %}

{% block content_card_mobile %}
	<table>
		<tr>
			{% if event.category == "Доступные к посещению" %}
				{% comment %} Иконка спикеров {% endcomment %}
				{% if event.speakers.all %}
					<td><img class="info-icon" src="{% static "icons/speaker.png" %}" alt=""></td>
				{% endif %}

				{% comment %} Иконка Дата и время {% endcomment %}
				<td>
					<img class="info-icon" src="{% static "icons/datetime.png" %}" alt="">
				</td>

				{% comment %} Кол-во мест {% endcomment %}
				<td>
					<img class="info-icon" src="{% static "icons/datetime.png" %}" alt="">
				</td>
			{% endif %}
				

			{% comment %} Иконка проведения\расположения {% endcomment %}
			{% if event.town or event.street %}
				<td>
					<img class="info-icon" src="{% static "icons/datetime.png" %}" alt="">
				</td>
			{% endif %}

			{% comment %} Иконка Ссылка\QR {% endcomment %}
			{% if event.link %}
				<td><img class="info-icon" src="{% static "icons/link.png" %}" alt=""></td>
			{% endif %}
		</tr>

		<tr>
			{% if event.category == "Доступные к посещению" %}
				{% comment %} Подпись спикер {% endcomment %}
				{% if event.speakers.all %}
					<td>
						<div class="info-title">
							Спикер 
						</div>
					</td>
				{% endif %}

				{% comment %} Подпись Дата и время {% endcomment %}
				<td style="padding-inline: 0">
					<div class="info-title">Дата и время</div>
				</td>

				{% comment %} Подпись Свободные места {% endcomment %}
				<td style="padding-inline: 0">
					<div class="info-title">Свободные места</div>
				</td>
			{% endif %}

			{% comment %} Подпись Место проведения\расположения{% endcomment %}
			{% if event.town or event.street %}
				<td style="padding-inline: 0">
					<div class="info-title">
						{% if event.category == "Доступные к посещению" %}
							Место проведения
						{% else %}
							Расположение
						{% endif %}	
					</div>
				</td>
			{% endif %}

			{% comment %} Подпись Ссылка\QR {% endcomment %}
			{% if event.link %}
				<td>
					<div class="info-title"> Данные для подключения </div>
				</td>
			{% endif %}
		</tr>
		<tr>
			{% if event.category == "Доступные к посещению" %}
				{% comment %} Спикер {% endcomment %}
				{% if event.speakers.all %}
					<td class="info-cell">
						<label for="speaker">
							{% for speaker in event.speakers.all %} 
								{{ speaker.last_name }} {{ speaker.first_name }}{% if not forloop.last %}, {% endif %} 
							{% endfor %} 
						</label>
					</td>
				{% endif %}

				{% comment %} Дата и время  {% endcomment %}
				<td class="info-cell">
					<label for="date"> {% if event.date_end and event.date_end == event.date %} {{ event.formatted_date_2 }} {% else %} {{ event.date }} {% endif %}</label> <br />
					<label for="time">{{ event.time_start }} - {{ event.time_end }}</label>
				</td>
				
				{% comment %} Кол-во мест  {% endcomment %}
				<td class="info-cell">
					<label for="date"> <span id="free-places-{{event.slug}}"> {{event.place_free }} </span> / {{event.place_limit }}</label>
				</td>
			{% endif %}

			{% comment %} Место проведения {% endcomment %}
			{% if event.town or event.street %}
				<td class="info-cell">
					<label for="speaker">
						{% if event.town %}г.{{ event.town }}{% endif %} {% if event.street %}ул.{{ event.street }}{% endif %} {% if event.house %} д.{{ event.house }}{% endif %}{% if event.cabinet %} кабинет {{ event.cabinet }}{% endif %}
					</label>
				</td>
			{% endif %}

			{% comment %} Ссылка\QR {% endcomment %}
			{% if event.link %}
				<td class="info-cell">
					<a href="{{event.link}}" class="connection-link">Ссылка для подключения</a>
					<label><a href="" class="connection-link open-modal" id="openModal2">QR-код</a></label>
				</td>
			{% endif %}
		</tr>
	</table>
{% endblock content_card_mobile %}