{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Отправка сообщения участникам</title>
{% endblock title %}

{% block content %}
<div class="container mt-5">
    <h1>Отправка сообщения участникам</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.event_type.label_tag }}<br>
            {{ form.event_type }}
        </div>
        <div class="form-group">
            {{ form.event.label_tag }}<br>
            <select name="event" id="id_event" class="form-control">
                <option value="">---------</option>
                {% for event in form.event.field.queryset %}
                    <option value="{{ event.id }}">{{ event.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            {{ form.message.label_tag }}<br>
            {{ form.message }}
        </div>
        <button type="submit" class="btn btn-primary">Отправить сообщение</button>
    </form>
</div>
{% endblock content %}





