{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'lib/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="stylesheet" href="{% static "css/profile.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Days+One&display=swap" rel="stylesheet">
</head>

<body style="background-image: url({% static "images/background.jpg" %});">
    <header>
        <nav class="navbar navbar-expand-lg bg-dark text-white">
            <div class="container-fluid">
                <a class="navbar-brand" href={% url "main:index" %}><img class="home-icon" src="{% static 'icons/home.png' %}" alt="Home" width="25" height="25"></a> 
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Доступные мероприятия
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href={% url "events_available:online" %}>
                                    Онлайн мероприятия</a></li>
                                <li><a class="dropdown-item" href={% url "events_available:offline" %}>
                                    Оффлайн мероприятия</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Культурные мероприятия
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href={% url "events_cultural:attractions" %}>Достопримечательности</a></li>

                                <li><a class="dropdown-item" href={% url "events_cultural:events_for_visiting" %}>Доступные к посещению</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white calendar" aria-current="page" href={% url "events_calendar:index" %}>Календарь мероприятий</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false"> Мой профиль </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item text-black" href="{% url 'users:profile' %}">Личный
                                        кабинет</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-black" href={% url "bookmarks:registered" %}>Зарегистрированные</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-black" href="{% url 'bookmarks:favorites' %}">Избранные</a>
                                </li>
                                {% comment %} <li>
                                    <a class="dropdown-item text-black" href="{% url 'bookmarks:events_attended' %}">Посещенные</a>
                                </li> {% endcomment %}
                                {% if user.is_staff %}
                                    {% if user.is_admin or user.is_superuser %}
                                        <li>
                                            <a class="dropdown-item text-black" href="{% url 'admin:index' %}">Админ панель</a>
                                        </li>
                                    {% endif %}
                                <li>
                                    <a class="dropdown-item text-black" href="{% url 'personal:personal' %}">Кабинет администратора</a>
                                </li>
                                {% endif %}
                                <li><hr class="dropdown-divider" /></li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'users:logout' %}">Выйти</a>
                                </li>
                            </ul>
                        </li>


                    </ul>
                    <form class="d-flex" role="search" action="{% if name_page == 'Онлайн' %}{% url "events_available:search_online" %}{% elif name_page == 'Оффлайн' %}{% url "events_available:search_offline" %}{% elif name_page == 'Доступные к посещению' %}{% url "events_cultural:search_events_for_visiting" %}{% elif name_page == 'Достопримечательности' %}{% url "events_cultural:search_attractions" %}{% elif name_page == 'Все мероприятия' %}{% url "main:search_all" %}{% endif %}" method="get">
                        <input class="form-control search me-2 " type="search" name="q" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">
                            <img src="{% static "icons/search.png" %}" alt="S" style="height: 20px; width: 20px;" margin-top: 0;> 
                        </button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <main class="row">
        <div class="col-lg-1 left-column"></div>
        <div class="col-lg-10 col-md-12 col-sm-12 feed">
            <section>
                <div class="row mt-lg-3" style="margin-bottom: 0;">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10 col-md-12 col-sm-12">
                        <h2 style="color: white;" class="account-title">Профиль пользователя</h2>
                        <div class="profile-info" style="text-align: center;">
                            <div class="row mt-3">
                                <div class="col-lg-1 d-none d-lg-block"></div>
                                <div class="col-4 col-lg-3 user-photo">
                                    <img src="{% static "icons/profile_photo.png" %}" alt="">
                                </div>
                                <div class="col-3 col-lg-2">
                                    <div class="profile-fields">
                                        <label for="" style="text-indent: 0;">Профиль:</label><br>
                                        <label for="">Отдел:</label><br>
                                        <label for="">Email:</label><br>
                                        <label for="">Tg ID:</label><br>
                                    </div>
                                </div>
                                <div class="col-5 col-lg-5 info">
                                    <div class="account-information">
                                        <label for="username" style="text-indent: 0;">{{ user.username }}</label><br>
                                        <label for="department">{{ department_name }}</label><br>
                                        {% if user.email %}<label for="email" title={{ user.email }}>{{ user.email }}</label><br>{% endif %} 
                                        <label for="tg">{{ user.telegram_id }}</label><br>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-lg-3">
                                <div class="col-lg-1 d-none d-lg-block"></div>

                                <div class="col-4 col-lg-3 mt-2" style="text-align: center; align-content: center;">
                                    <button class="btn change-photo" onclick="requestPhotoChange()">Фото</button>

                                </div>
                                <div class="col col-lg-7 button-column mt-2" style="text-align: center; align-content: center;">
                                    <button class="btn change-password" onclick="requestPasswordChange()">Сменить пароль</button>
                                    {% comment %}  {% endcomment %}
                                </div>
                                <div class="col-lg-2 d-none d-lg-block"></div>                                
                            </div>
                        </div>

                        <div class="user-rights">
                            <div class="row mt-lg-3 mb-3">
                                <div class="col-12 col-lg-4 user-right-profile">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="admin-request">Запрос админских прав</div>
                                            <div class="input-with-button">
                                                <input class="request-reason form-control" type="text" id="reason" placeholder="Обоснование запроса">
                                                <button class="send-request" onclick="requestAdminRights()"><img src="{% static "/icons/send-message.png" %}" alt=""> </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mt-2 mt-lg-3">
                                        <div class="col-1 d-lg-none"></div>

                                        <div class="col-10 col-lg-12 center">
                                            <table class="rights-table">
                                                <tr>
                                                    <td><label for="role" class="role">Роль</label></td>
                                                    <td><label for="" class="role-info">
                                                        {% if user.is_superuser %}
                                                            Суперпользователь
                                                        {% elif user.is_staff %}
                                                            Администратор
                                                        {% else %}
                                                            Пользователь
                                                        {% endif %}
                                                    </label></td>
                                                </tr>
                                                {% if user.is_superuser or user.is_staff %}
                                                <tr>
                                                    <td><label for="groups" class="groups">Группы</label></td>
                                                    <td><label for="" class="group-info">
                                                        {% for group in user.groups.all %}
                                                            {{ group.name }}
                                                        {% empty %}
                                                            Нет
                                                        {% endfor %}
                                                    </label></td>
                                                </tr>
                                                {% endif %}
                                            </table>                                            
                                        </div>
                                    </div>


                                </div>
                                

                                <div class="col-12 col-lg-8 movement">
                                    <div class="movement-header">Перемещения</div>
                                            
                                    <div class="user-movement">
                                        <div class="user-movement-info">
                                            <span>Дата/время/рейс <br>отлёта - прилёта</span>
                                            <span>11.09.2025 9:00 316593<br>15.09.2025 18:00 616952</span> 
                                        </div>   
                                        <div class="user-movement-info">
                                            <span>Место отлёта</span>
                                            <span>Домодедово</span> 
                                        </div>  
                                        <div class="user-movement-info">
                                            <span>Место прилёта</span>
                                            <span>Толмачёво</span> 
                                        </div>  
                                        <div class="user-movement-info">
                                            <span>Проживание</span>
                                            <span>1-й Ботинский пр-д, 6</span> 
                                        </div>  
                                        <div class="user-movement-info">
                                            <span>Встречающий</span>
                                            <span>Иванов Иван Иванович</span> 
                                        </div>  
                                        <div class="user-movement-info">
                                            <span>Мероприятие</span>
                                            <span>Совещание ДДКП</span> 
                                        </div>  
                                    </div>

                                </div>


                                <div class="col-lg-3"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
                
            </section>
        </div>
        <div class="col-lg-1 right-column" style="padding: 0;"></div>
    </main>
</body>


<script>
    function requestPasswordChange() {
        fetch('{% url "users:change_password" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert(data.message);
                // Перенаправляем пользователя на страницу логина после успешного изменения пароля
                window.location.href = '/users/login/';
            } else {
                alert(data.error);
            }
        })
        .catch(error => {
            console.error('Ошибка:', error);
            alert('Произошла ошибка при смене пароля.');
        });
    }
    
    function requestAdminRights() {
        const reason = document.getElementById('reason').value;
        fetch('{% url "users:request_admin_rights" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({ reason: reason })
        })
        .then(response => response.json())
        .then(data => {
            alert(data.message);
            if (data.success) {
                document.getElementById('reason').value = ''; // Очистить поле ввода после успешной отправки
            }
        })
        .catch(error => {
            console.error('Ошибка:', error);
            alert('Произошла ошибка при отправке запроса на админские права.');
        });
    }
    </script>
    
</html>