{% load static %}
{% load events_available_tags %}
{% load main_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'daterangepicker/daterangepicker.css' %}">
    <link rel="stylesheet" href="{% static 'general/css/general-page.css' %}">
    <link rel="stylesheet" href="{% static 'general/css/events_available.css' %}">
    <link rel="stylesheet" href="{% static 'general/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'scripts/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'flatpickr/flatpickr.min.css' %}">
    <link rel="stylesheet" href="{% static 'general/css/notifications.css' %}">
    <link rel="stylesheet" href="{% static 'general/css/filters.css' %}">
    {% block title %}{% endblock title %}
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark text-white">
            <div class="container-fluid">
                <a class="navbar-brand" href={% url "main:index" %}><img class="home-icon" src="{% static 'general/icons/home.png' %}" alt="Home" width="25" height="25"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% if not user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'users:login' %}">Войти</a>
                        </li>
                        {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Доступные мероприятия
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href={% url "events_available:online" %}>Онлайн мероприятия</a></li>
                                <li><a class="dropdown-item" href={% url "events_available:offline" %}>Оффлайн мероприятия</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Культурные мероприятия
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href={% url "events_cultural:attractions" %}>Достопримечательности</a></li>
                                
                                <li><a class="dropdown-item" href={% url "events_cultural:events_for_visiting" %}>Доступные к посещению</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href={% url "events_calendar:index" %}>Календарь мероприятий</a>
                        </li>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Мой профиль </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item text-black" href="{% url 'users:profile' %}">Личный кабинет</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-black" href={% url "bookmarks:registered" %}>Зарегистрированные</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-black" href="{% url 'bookmarks:favorites' %}">Избранные</a>
                                </li>
                                {% comment %} <li>
                                    <a class="dropdown-item text-black" href="{% url 'bookmarks:events_attended' %}">Посещенные</a>
                                </li> {% endcomment %}
                                {% if user.is_staff %}
                                    {% if user.is_admin or user.is_superuser %}
                                        <li>
                                            <a class="dropdown-item text-black" href="{% url 'admin:index' %}">Админ панель</a>
                                        </li>
                                    {% endif %}
                                <li>
                                    <a class="dropdown-item text-black" href="{% url 'personal:personal' %}">Кабинет администратора</a>
                                </li>
                                {% endif %}
                                <li><hr class="dropdown-divider" /></li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'users:logout' %}">Выйти</a>
                                </li>
                            </ul>
                        </li>
                        
                        {% endif %}
                    </ul>
                    <form class="d-flex" role="search" action="{% if name_page == 'Онлайн' %}{% url "events_available:search_online" %}{% elif name_page == 'Оффлайн' %}{% url "events_available:search_offline" %}{% elif name_page == 'Доступные к посещению' %}{% url "events_cultural:search_events_for_visiting" %}{% elif name_page == 'Достопримечательности' %}{% url "events_cultural:search_attractions" %}{% elif name_page == 'Все мероприятия' %}{% url "main:search_all" %}{% endif %}" method="get">
                        <input class="form-control search me-2 " type="search" name="q" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">
                            <img src="{% static "general/icons/search.png" %}" alt="S">
                        </button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    
    <section>
		{% if user.is_authenticated %}
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-1">
                    {% comment %} {% if user.is_authenticated %}
                        {% if event_card_views %}
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item {% if not event_card_views.has_previous %} disabled {% endif %}">
                                        <a class="page-link-arrow" href="{% if event_card_views.has_previous %}?{% change_params page=event_card_views.previous_page_number %}{% else %}#{% endif %}"><div class="arrow">
                                            {% if not event_card_views.has_previous %}
                                                {% comment %} <img src="{% static "general/icons/arrow-left-disabled.png" %}" class="arrow" alt="Предыдущая">
                                            {% else %}
                                                <img src="{% static "general/icons/arrow-left.png" %}" class="arrow" alt="Предыдущая">

                                            {% endif %}

                                        </div></a>
                                    </li>
                                </ul>
                            </nav>
                        {% endif %}
                    {% endif %} {% endcomment %}
                </div>
		
				<div class="col-lg-10 col-sm-12 col-12">
                    <div class="row mt-3 mb-3 name-for-events">
                        <div class="col-lg-1 col-sm-1 col-1 d-flex justify-content-center arrow">
                            {% if user.is_authenticated %}
                                {% if event_card_views %}
                                    <nav aria-label="Arrow navigation">
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item {% if not event_card_views.has_previous %} disabled {% endif %}">
                                                <a class="page-link-arrow" href="{% if event_card_views.has_previous %}?{% change_params page=event_card_views.previous_page_number %}{% else %}#{% endif %}"><div class="arrow">
                                                    {% if not event_card_views.has_previous %}
                                                        {% comment %} <img src="{% static "general/icons/arrow-left-disabled.png" %}" class="arrow" alt="Предыдущая"> {% endcomment %}
                                                    {% else %}
                                                        <img src="{% static "general/icons/arrow-left.png" %}" class="arrow" alt="Предыдущая">
                                                    {% endif %}
                                                </div></a>
                                            </li>
                                        </ul>
                                    </nav>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="col-lg-10 col-sm-10 col-10 align-items-center">
                            <div class="row">
                                {% block filters %}{% endblock filters %}
                                {% block sort %}{% endblock sort %}
                            </div>  
                            
                        </div>
                        <div class="col-lg-1 col-sm-1 col-1 d-flex justify-content-center">
                            {% if user.is_authenticated %}
                                {% if event_card_views %}
                                    <nav aria-label="Arrow navigation">
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item {% if not event_card_views.has_next %} disabled {% endif %}">
                                                <a class="page-link-arrow" href="{% if event_card_views.has_next %}?{% change_params page=event_card_views.next_page_number %}{% else %}#{% endif %}">
                                                <div class="arrow">
                                                    {% if not event_card_views.has_next %}
                                                    {% else %}
                                                        <img src="{% static "general/icons/arrow-right.png" %}" class="arrow" alt="Следующая">
                                                    {% endif %}
                                                </div></a>
                                            </li>
                                        </ul>
                                    </nav>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div> 
                    

                    {% block script_js %}{% endblock script_js %}
                    
                         
					{% if request.GET.q %}
						<h3 class="mt-4">Результаты поиска по запросу {{ request.GET.q }}</h3>
						{% if not event_card_views %}
							<h2 class="mt-4">По запросу ничего не найдено</h2>
						{% endif %}
					{% endif %}

                    {% comment %} Для панели администратора {% endcomment %}
                    
                    {% block form_events %}{% endblock form_events %}
                    {% for events in event_card_views %}
                        <div class="row mt-2 event_cards">
                            <div class="col-lg-12">
                                <div class="card mb-3">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            {% if events.image %}
                                                <img src="{{ events.image.url }}" class="img-fluid rounded-start" alt="{{ events.name }}">
                                            {% else %} 
                                                <img src="{% static "general/images/img.png" %}" class="img-fluid rounded-start" alt="{{ events.name }}">
                                            {% endif %}
                                            
                                            {% if name_page != "Главная" %}
                                                {% if events.id in favorites %}
                                                    <a href="#" class="btn remove-from-favorites" data-event-id="{{ favorites|get_item:events.id }}">
                                                        <img class="mx-1 heart-icon" src="{% static 'general/icons/heart_red.png' %}" alt="Catalog Icon" width="32" height="32">
                                                    </a>
                                                {% else %}
                                                    <a href="#" class="btn add-to-cart" data-event-slug="{{ events.slug }}">
                                                        <img class="mx-1 heart-icon" src="{% static 'general/icons/heart.svg' %}" alt="Catalog Icon" width="32" height="32">
                                                    </a>
                                                {% endif %}
                                            {% else %}
                                                {% if events|model_name == 'Events_online' %}
                                                    {% if events.id in favorites.online %}
                                                        <a href="#" class="btn remove-from-favorites" data-event-id="{{ favorites.online|get_item:events.id }}">
                                                            <img class="mx-1 heart-icon" src="{% static 'general/icons/heart_red.png' %}" alt="Catalog Icon" width="32" height="32">
                                                        </a>
                                                    {% else %}
                                                        <a href="#" class="btn add-to-cart" data-event-slug="{{ events.slug }}">
                                                            <img class="mx-1 heart-icon" src="{% static 'general/icons/heart.svg' %}" alt="Catalog Icon" width="32" height="32">
                                                        </a>
                                                    {% endif %}
                                                {% elif events|model_name == 'Events_offline' %}
                                                    {% if events.id in favorites.offline %}
                                                        <a href="#" class="btn remove-from-favorites" data-event-id="{{ favorites.offline|get_item:events.id }}">
                                                            <img class="mx-1 heart-icon" src="{% static 'general/icons/heart_red.png' %}" alt="Catalog Icon" width="32" height="32">
                                                        </a>
                                                    {% else %}
                                                        <a href="#" class="btn add-to-cart" data-event-slug="{{ events.slug }}">
                                                            <img class="mx-1 heart-icon" src="{% static 'general/icons/heart.svg' %}" alt="Catalog Icon" width="32" height="32">
                                                        </a>
                                                    {% endif %}
                                                {% elif events|model_name == 'Attractions' %}
                                                    {% if events.id in favorites.attractions %}
                                                        <a href="#" class="btn remove-from-favorites" data-event-id="{{ favorites.attractions|get_item:events.id }}">
                                                            <img class="mx-1 heart-icon" src="{% static 'general/icons/heart_red.png' %}" alt="Catalog Icon" width="32" height="32">
                                                        </a>
                                                    {% else %}
                                                        <a href="#" class="btn add-to-cart" data-event-slug="{{ events.slug }}">
                                                            <img class="mx-1 heart-icon" src="{% static 'general/icons/heart.svg' %}" alt="Catalog Icon" width="32" height="32">
                                                        </a>
                                                    {% endif %}
                                                {% elif events|model_name == 'Events_for_visiting' %}
                                                    {% if events.id in favorites.for_visiting %}
                                                        <a href="#" class="btn remove-from-favorites" data-event-id="{{ favorites.for_visiting|get_item:events.id }}">
                                                            <img class="mx-1 heart-icon" src="{% static 'general/icons/heart_red.png' %}" alt="Catalog Icon" width="32" height="32">
                                                        </a>
                                                    {% else %}
                                                        <a href="#" class="btn add-to-cart" data-event-slug="{{ events.slug }}">
                                                            <img class="mx-1 heart-icon" src="{% static 'general/icons/heart.svg' %}" alt="Catalog Icon" width="32" height="32">
                                                        </a>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                            <div class="card-img-info">
                                                {% comment %} <p>id: {{ events.display_id }}</p> {% endcomment %}
                                                <p>{{ events.category }}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    <a href="
                                                    {% if events.category  == 'Онлайн' %}
                                                        {% url "events_available:online_card" events.slug %}
                                                    {% elif events.category  == 'Оффлайн' %}
                                                        {% url "events_available:offline_card" events.slug %}
                                                    {% elif events.category  == 'Достопримечательности' %}
                                                        {% url "events_cultural:attractions_card" events.slug %}
                                                    {% elif events.category  == 'Доступные к посещению' %}
                                                        {% url "events_cultural:events_for_visiting_card" events.slug %}
                                                    {% endif %}">
                                                    {% autoescape off %}
                                                        {% if events.headline_name %}{{ events.headline_name|safe }}{% else %}{{ events.name }}{% endif %}
                                                    {% endautoescape %}
                                                    </a>
                                                </h5>
                                                {% if events.category  != 'Достопримечательности' %}
                                                    <h6 class="card-date"> 
                                                        {% if events.date != events.date_end %}
                                                            <split class="card-day"><b>{{ events.date }} - {{ events.date_end }}</b></split> 
                                                        {% else %}
                                                            <split class="card-day"><b>{{ events.date }}</b></split> 
                                                        {% endif %}

                                                        {% if events.time_start != events.time_end %}
                                                            <split class="card-time">{{ events.time_start }} - {{ events.time_end }}</split> 
                                                        {% else %}
                                                            <split class="card-time">{{ events.time_start }}</split> 
                                                        {% endif %}
                                                    </h6> 
                                                {% endif %}
                                                {% comment %} <h6 class="event-place"> {{ events.place }} </h6> {% endcomment %}
                                                
                                                <h6><strong>Администратор:</strong>
                                                    {% for admin in events.events_admin.all %}
                                                        {{admin}}
                                                    {% endfor %}
                                                </h6>
                                                      
                                                {% comment %} <h7 class="event-place"> <strong>Администратор: {{ events.events_admin }}</strong>  </h7> {% endcomment %}
                                                {% autoescape off %}
                                                    {% if events.headline_name %}
                                                        {{ events.headline_name }}
                                                    {% else %}
                                                        {{ events.name }}
                                                    {% endif %}
                                                {% endautoescape %}

                                                {% autoescape off %}
                                                    {% if events.headline_description %}
                                                        {{ events.headline_description|truncatechars:250 }}
                                                    {% else %}
                                                        {{ events.description|truncatechars:250 }}
                                                    {% endif %}
                                                {% endautoescape %}
                                                
                                                <p class="card-text">
                                                    <small class="text-muted">{% if events.tags %} 
                                                        {{ events.tags }}
                                                        {% else %}
                                                        {% endif %}
                                                    </small>
                                                </p>
                                                <p>
                                                    {% if events.town %}г.{{ events.town }}{% endif %} {% if events.street %}ул.{{ events.street }}{% endif %} {% if events.house %} д.{{ events.house }}{% endif %}{% if events.cabinet %} кабинет {{ events.cabinet }}{% endif %}
                                                </p>
                                                
                                                {% if events.speakers.all %}
                                                    <p>
                                                        <h6><strong>Спикеры:</strong></h6>
                                                        {% for speaker in events.speakers.all %}
                                                            {{ speaker.last_name }} {{ speaker.first_name }}{% if speaker.middle_name %} {{ speaker.middle_name }}{% endif %}{% if not forloop.last %}, {% endif %}
                                                        {% endfor %}
                                                    </p>
                                                {% endif %}
                                                
                                                {% if events.category == "Доступные к посещению"%}
                                                    {% if events.place_limit and events.date >= now %}
                                                        {% if events.place_free > 0 %}
                                                            <p>
                                                                {% comment %} Свободных мест: {{events.place_free }} <span id="free-places-{{events.slug}}"> / {{events.place_limit }}</span> {% endcomment %}
                                                            
                                                                Свободных мест: <span id="free-places-{{events.slug}}"> {{events.place_free }} </span> / {{events.place_limit }}

                                                            </p>
                                                        {% else %}
                                                            <p>
                                                                Нет свободных мест
                                                            </p> 
                                                        {% endif %}
                                                    {% endif %}                          
                                                {% endif %}

                                                {% block content %}{% endblock content %}
                                                {% block admins_events %}{% endblock admins_events %}
                                                <div class="event" id="event-{{ events.id }}">
                                                    {% if reviews %}
                                                        <div class="reviews" data-event-id="{{ events.id }}">
                                                            {% comment %} {% if reviews|get_item:events.id %} {% endcomment %}
                                                                <ul>
                                                                    {% for review in reviews|get_item:events.unique_id %}
                                                                        <li>
                                                                            <h5>Отзыв:</h5>
                                                                            <p><strong>{{ review.user.last_name }} {{ review.user.first_name }} </strong> ({{ review.formatted_date }}):</p>
                                                                            <p>{{ review.comment }}</p>
                                                                        </li>
                                                                    {% endfor %}
                                                                </ul>
                                                            {% comment %} {% endif %} {% endcomment %}
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
 
                    {% block favorite %}{% endblock favorite %}
                    {% block register %}{% endblock register %}
				</div>
                
				<div class="col-lg-1">
                    {% comment %} {% if user.is_authenticated %}
                        {% if event_card_views %}
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item {% if not event_card_views.has_next %} disabled {% endif %}">
                                        <a class="page-link-arrow" href="{% if event_card_views.has_next %}?{% change_params page=event_card_views.next_page_number %}{% else %}#{% endif %}"><div class="arrow">
                                            {% if not event_card_views.has_next %}
                                                {% comment %} <img src="{% static "general/icons/arrow-right-disabled.png" %}" class="arrow" alt="Следующая"> 
                                            {% else %}
                                                <img src="{% static "general/icons/arrow-right.png" %}" class="arrow" alt="Следующая">
                                            {% endif %}
                                        </div></a>
                                    </li>
                                </ul>
                            </nav>
                        {% endif %}
                    {% endif %} {% endcomment %}
                </div>
			</div>
		</div>
		{% endif %}
        
    </section>
   
    <pagination>
		{% if user.is_authenticated %}
			{% if event_card_views %}
				<nav aria-label="Page navigation example">
					<ul class="pagination justify-content-center">
						<li class="page-item {% if not event_card_views.has_previous %} disabled {% endif %}">
							<a class="page-link" href="{% if event_card_views.has_previous %}?{% change_params page=event_card_views.previous_page_number %}{% else %}#{% endif %}">Назад</a>
						</li>
						{% for page in event_card_views.paginator.page_range %}
							{% if page >= event_card_views.number|add:-2 and page <= event_card_views.number|add:2 %}
								<li class="page-item {% if event_card_views.number == page %} active {% endif %}">
									<a class="page-link" href="?{% change_params page=page %}">{{ page }}</a>
								</li>
							{% endif %}
						{% endfor %}
						<li class="page-item {% if not event_card_views.has_next %} disabled {% endif %}">
							<a class="page-link" href="{% if event_card_views.has_next %}?{% change_params page=event_card_views.next_page_number %}{% else %}#{% endif %}">Следующая</a>
						</li>
					</ul>
				</nav>
			{% endif %}
		{% endif %}
	</pagination>
    
    <script src="{% static 'general/js/base.js' %}"></script>

    <script src="{% static 'scripts/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'scripts/select2.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.ru.min.js' %}"></script>
    <script src="{% static 'scripts/moment.min.js' %}"></script>
    <script src="{% static 'django_select2/django_select2.js' %}"></script>
    <script src="{% static 'flatpickr/flatpickr.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.django-select2').djangoSelect2();
        });
    </script>
    {% block javascript_files %}

<!-- Notification ДОБАВЛЕНИЕ В ИЗБРАННЫЕ И УДАЛЕНИЕ ИЗ ИЗБРАННЫХ -->
<div id="favoriteNotification" class="notification" style="display: none;">
    <p></p>
</div>

<!-- Notification for Registration -->
<div id="registrationNotification" class="notification" style="display: none;">
    <p></p>
</div>

<!-- Notification -->
<div id="reviewNotification" class="notification" style="display: none;">
    <p></p>
</div>

<!-- Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="commentModalLabel">Оставить отзыв</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="commentForm">
                    <input type="hidden" id="eventId" name="event_id">
                    <input type="hidden" id="modelType" name="model_type">
                    <div class="mb-3">
                        <label for="commentText" class="form-label">Ваш отзыв</label>
                        <textarea class="form-control" id="commentText" name="comment" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </form>
                
            </div>
        </div>
    </div>
</div>

    {% endblock javascript_files %} 
</body>
</html>
